.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 60%;
}

.image {
  width: 35%;
}

.column .content, .column .image {
  width: 100%;
}

.column {
  flex-direction: column;
}
